// .form-group
// {
// font-size:large;
// height: 20px;
// width:20px;

// }
// .form-control1
// {
//     font-weight: bold;
  
// }

// // .form-group2
// // {
// // font-size:large;
// // height: 20px;
// // width:20px;

// // }

.form-group1
{
    font-weight: bold; 
font-size:large;
width: 300px; 

}


.form-group2
{
    font-style:italic;
    width: 300px; 
    
}
.form-group3
{
    font-style:italic;
   
    display: block;

    
}
.form-control3
{
    height: 100px;
    width: 300px;
}
.form-group4
{
    font-style:italic;
    width: 300px; 
}

.form-group5
{
    font-style:italic;
    width: 300px; 
    margin-right:100px;
}
.form-group6
{
    font-style:italic;
    width: 300px; 
  
}
.form-group7
{
    font-style:italic;
    width: 300px; 
}
.form-group8
{
    font-style:italic;
    width: 300px; 
}
.form-group9
{
    font-style:italic;
    width: 300px; 
}

.form-group10
{
    font-style:italic;
    width: 300px; 
}

.form-group11
{
    font-style:italic;
    width: 300px; 
}

.form-group12
{
    font-style:italic;
    width: 300px; 
}

.form-group13
{
    font-style:italic;
    width: 300px; 
}

.form-group14
{
    font-style:italic;
    width: 300px; 
}

