<!-- <div class="card">
  <div class="container-fluid px-1 py-3 mx-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
        <h3>New Teacher</h3>
        <p class="blue-text">Add New Teacher</p>
        <form [formGroup]="regForm">
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Name:<span
                  class="text-danger"> *</span></label> <input type="text" id="fname" name="fname"
                formControlName="name" class="form-control" placeholder="Enter your first name">
              <div *ngIf="regForm.controls['name'].touched&&regForm.controls['name']?.['errors']" class="invalid">
                <div *ngIf="regForm.controls['name']?.['errors']?.['required']">

                  Name is required
                </div>

                <div *ngIf="regForm.controls['name']?.['errors']?.['minlength']">
                  Ne name chinnaga undhi
                </div>

              </div>
            </div>

            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Phone No:<span
                  class="text-danger"> *</span></label> <input type="text" id="lname" name="lname"
                formControlName="phoneno" class="form-control" placeholder="Enter your number">
              <div *ngIf="regForm.controls['phoneno'].touched&&regForm.controls['phoneno']?.['errors']" class="invalid">
                <div *ngIf="regForm.controls['phoneno']?.['errors']?.['required']">

                  Number is not required
                </div>

                <div *ngIf="regForm.controls['phoneno']?.['errors']?.['minlength']">
                  Number is very small
                </div>

              </div>
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">
                Speclization<span class="text-danger"> *</span></label> <input type="text" id="email" name="email"
                formControlName="speclization" class="form-control" placeholder="Sparate with comma(,)">
              <div *ngIf="regForm.controls['speclization'].touched&&regForm.controls['speclization']?.['errors']"
                class="invalid">
                <div *ngIf="regForm.controls['speclization']?.['errors']?.['required']">

                  Name is required
                </div>

                <div *ngIf="regForm.controls['speclization']?.['errors']?.['minlength']">
                  Ne name chinnaga undhi
                </div>

              </div>

            </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Pay
                Scale<span class="text-danger"> *</span></label> <input type="text" id="mob" name="mob"
                placeholder="Rs." formControlName="payscale" class="form-control">
              <div *ngIf="regForm.controls['payscale'].touched&&regForm.controls['payscale']?.['errors']"
                class="invalid">
                <div *ngIf="regForm.controls['payscale']?.['errors']?.['required']">

                  Number is not required
                </div>

                <div *ngIf="regForm.controls['payscale']?.['errors']?.['minlength']">
                  Number is very small
                </div>

              </div>
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Address:<span
                  class="text-danger"> *</span></label> <textarea type="text" id="fname" name="fname" class="address"></textarea>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Aadhar No:<span
                  class="text-danger"> *</span></label> <input type="text" id="lname" name="lname"
                placeholder="xxxxxxxx2340" formControlName="aadharno" class="form-control">
              <div *ngIf="regForm.controls['aadharno'].touched&&regForm.controls['aadharno']?.['errors']"
                class="invalid">
                <div *ngIf="regForm.controls['aadharno']?.['errors']?.['required']">

                  Number is not required
                </div>

                <div *ngIf="regForm.controls['aadharno']?.['errors']?.['minlength']">
                  Number is very small
                </div>

              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="form-group1 col-sm-6"> <input type="checkbox" class="input">&nbsp; EditDetails </div>
          </div>
          <div class="row justify-content-between text-center">
            <div>
              
              <h6 class=" row1 form-control-label px-3"><i class="pi pi-plus-circle" style="font-size: 1rem"></i>
              Add New Teacher</h6>
            </div>
          </div>

        </form>
      </div>


    </div>

  </div>

</div> -->



<div class="grid">
  <div class="col-12">
      <div class="card px-6 py-6">
          <p-toast></p-toast>
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                          (click)="openNew()"></button>
                      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                          (click)="deleteSelectedProducts()"
                          [disabled]="!selectedProducts || !selectedProducts.length"></button>
                  </div>
              </ng-template>

              <ng-template pTemplate="right">
                  <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                      chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                  <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                      (click)="dt.exportCSV()"></button>
              </ng-template>
          </p-toolbar>

          <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10"
              [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
              [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
              <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <h5 class="m-0">Teachers</h5>
                      <span class="block mt-2 md:mt-0 p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                              class="w-full sm:w-auto" />
                      </span>
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                      <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                      <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                      <th>Image</th>
                      <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                      <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
                      <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                      <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
                      </th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                  <tr>
                      <td>
                          <p-tableCheckbox [value]="product"></p-tableCheckbox>
                      </td>
                      <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                          {{product.code || product.id}}
                      </td>
                      <td style="width:14%; min-width:10rem;">
                          <span class="p-column-title">Name</span>
                          {{product.name}}
                      </td>
                      <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                          <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100"
                              class="shadow-4" />
                      </td>
                      <td style="width:14%; min-width:8rem;">
                          <span class="p-column-title">Price</span>
                          {{product.price | currency:'USD'}}
                      </td>
                      <td style="width:14%; min-width:10rem;">
                          <span class="p-column-title">Category</span>
                          {{product.category}}
                      </td>
                      <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
                          <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                      </td>
                      <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                          <span
                              [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                      </td>
                      <td>
                          <div class="flex">
                              <button pButton pRipple icon="pi pi-pencil"
                                  class="p-button-rounded p-button-success mr-2"
                                  (click)="editProduct(product)"></button>
                              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                  (click)="deleteProduct(product)"></button>
                          </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>

      <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="New Teacher" [modal]="true"
          class="p-fluid">
          <ng-template pTemplate="content">
              <app-c-teacher></app-c-teacher>
          </ng-template>
          <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                  (click)="hideDialog()"></button>
              <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                  (click)="saveProduct()"></button>
          </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                  (click)="deleteProductDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                  (click)="confirmDelete()"></button>
          </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span>Are you sure you want to delete selected products?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                  (click)="deleteProductsDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                  (click)="confirmDeleteSelected()"></button>
          </ng-template>
      </p-dialog>
  </div>
</div>










      
     

