
    <form [formGroup]="regForm">
        <div class="field"><label for="name" class="block">Name<span class="text-danger">*</span></label> <input
                type="text" pInputText formControlName="name" placeholder="Enter your first name">
            <small class="p-error block" *ngIf="regForm.get('name')?.invalid && regForm.get('name')?.dirty">Name is
                required

            </small>


            <div class="field"> <label class="block">Phone No<span class="text-danger">*</span></label> <input
                    type="text" formControlName="phoneno" placeholder="Enter your number" pInputText>
                <small class="p-error block"
                    *ngIf="regForm.get('phoneno')?.invalid&&regForm.get('phoneno')?.dirty">Number
                    is required
                </small>


                <div class="field"> <label class="block">
                        Speclization<span class="text-danger">*</span></label> <input type="text" pInputText
                        formControlName="speclization" placeholder="Sparate with comma(,)">
                    <small class="p-error block"
                        *ngIf="regForm.get('speclization').invalid&&regForm.get('speclization')?.dirty">speclization is
                        required</small>

                    <div class="field"> <label class="block">
                            Address<span class="text-danger">*</span></label> <textarea type="text" pInputText
                            formControlName="address" placeholder="H.No"></textarea>
                        <small class="p-error block"
                            *ngIf="regForm.get('address').invalid&&regForm.get('address')?.dirty">Address is
                            required</small>



                        <div class="field"> <label class="block">
                                Aadhar No<span class="text-danger">*</span></label> <input type="text" pInputText
                                formControlName="aadharno" placeholder="2231XXXXXXXX">
                            <small class="p-error block"
                                *ngIf="regForm.get('aadharno').invalid&&regForm.get('aadharno')?.dirty">Aadhar number is
                                required</small>

                        </div>
                    </div>
                </div>


                <div class="row align-items-center">
                    <div class="form-group1 col-md-6"> <input type="checkbox" class="input">&nbsp; EditDetails </div>
                </div>

            </div>
        </div>

        <h6 class=" row1 form-control-label px-3 text-center"><i class="pi pi-plus-circle" style="font-size: 1rem"></i>
            Add New Teacher</h6>





    </form>
